body {
  background-color: #161516;
  font-family: "Stolzl";
  color: white;
}

.overlay {
  background-image: linear-gradient(
      180deg,
      rgba(22, 21, 22, 0.9) -7.87%,
      rgba(22, 21, 22, 0.6) 100%
    ),
    url(../images/Rectangle\ 166.svg);
  background-repeat: no-repeat;
  padding-bottom: 19%;
}

.hd {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 5px;
  padding-left: 44px;
  padding-right: 44px;
}
.hd_1 {
  display: flex;
  justify-content: space-around;
  flex: 0.4;
  font-size: 1rem;
  flex-wrap: wrap;
}
.hd_1 ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex: 1;
}
.burger_menu {
  display: flex;
  align-items: center;
}
.hd_2 {
  display: flex;
  justify-content: center;
  flex: 0.4;
}
.logo_img {
  width: 147px;
  height: 139px;
}
.logo_img img {
  width: 80%;
}
.hd_3 {
  display: flex;
  justify-content: space-between;
  flex: 0.4;
  font-size: 1rem;
  text-transform: uppercase;
  flex-wrap: wrap;
}
.phone {
  text-decoration: none;
  color: white;
}
.ph {
  display: flex;
  align-items: center;
}
.dubai {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h1 {
  font-size: 7rem;
  margin-top: 40%;
  margin-bottom: 0;
}
h2 {
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 0;
  font-size: 2rem;
}
.socials {
  position: fixed;
  right: 3%;
  bottom: 3%;
}
#tg,
#wa,
.logo:hover {
  cursor: pointer;
}
#tg {
  width: 54px;
}
#wa {
  width: 54px;
  padding-left: 20px;
}
.container_most_popular {
  margin-right: 44px;
  margin-top: 181px;
  margin-bottom: 110px;
  font-weight: 600;
  display: grid;
  height: 100%;
  grid-template-columns: fit-content(800px) 1fr;
  grid-template-rows: repeat(7, 100px);
  grid-template-areas:
    "car most"
    "car search"
    "car c";
  gap: 0 60px;
}

.most {
  font-size: 55px;
  font-weight: 600;
  text-transform: none;
}
.img_car_lam {
  width: 100%;
}
.img_car_2pg {
  grid-area: car;
}
.most_popular {
  grid-area: most;
}
.search_form {
  grid-area: search;
}
.car_list {
  grid-area: c;
}
.small {
  font-weight: 200;
  font-size: 12px;
  color: #646464;
}
.car_list a {
  text-decoration: none;
  color: white;
}
.car_list div {
  padding-top: 5%;
}
.search-bar {
  background: linear-gradient(
    90.75deg,
    #1c1c1c 0.65%,
    rgba(27, 27, 27, 0.4) 107.06%
  );
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  color: white;
}
.search-bar button img {
  width: 25px;
  padding-right: 30px;
}
.search-bar button {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.container {
  font-size: larger;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 60vh);
  gap: 5px;
}

.lamb_urus {
  background-image: linear-gradient(
      4.23deg,
      #161516 -7.57%,
      rgba(22, 21, 22, 0) 40.28%
    ),
    url(../images/Rectangle\ 13.png);
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.ferrari_roma {
  background-image: linear-gradient(
      4.23deg,
      #161516 -7.57%,
      rgba(22, 21, 22, 0) 40.28%
    ),
    url(../images/Rectangle\ 14.png);
  border-radius: 10px 0px 0px 10px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.rr_ghost {
  background-image: linear-gradient(
      4.23deg,
      #161516 -7.57%,
      rgba(22, 21, 22, 0) 40.28%
    ),
    url(../images/Rectangle\ 177.png);
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.porsche {
  background-image: linear-gradient(
      4.23deg,
      #161516 -7.57%,
      rgba(22, 21, 22, 0) 40.28%
    ),
    url(../images/Rectangle\ 178.png);
  border-radius: 10px 0px 0px 10px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.lamb_hur {
  background-image: linear-gradient(
      4.23deg,
      #161516 -7.57%,
      rgba(22, 21, 22, 0) 40.28%
    ),
    url(../images/Rectangle\ 180.png);
  border-radius: 0px 10px 10px 0px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.audi {
  background-image: linear-gradient(
      4.23deg,
      #161516 -7.57%,
      rgba(22, 21, 22, 0) 40.28%
    ),
    url(../images/Rectangle\ 183.png);
  border-radius: 10px 0px 0px 10px;
  background-size: cover;
  background-position: bottom;
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.insider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#rent {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #33b7bc;
  border-radius: 8px;
  padding: 18px 36px;
}
.rent {
  padding-right: 20px;
}
.view {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;
}
#view {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid #33b7bc;
  border-radius: 8px;
  padding: 18px 36px;
}
.sign {
  padding-left: 25px;
  padding-right: 25px;
  font-size: 2rem;
  font-weight: 800;
}

@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/stolzl/stolzl_regular.otf);
}
@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/stolzl/stolzl_light.otf);
}
@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/stolzl/stolzl_medium.otf);
}
@font-face {
  font-family: "Stolzl";
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/stolzl/stolzl_bold.otf);
}

@media screen and (min-width: 1024px) {
  .overlay {
    background-image: linear-gradient(
        180deg,
        rgba(22, 21, 22, 0.9) -7.87%,
        rgba(22, 21, 22, 0.6) 100%
      ),
      url(../images/Rectangle\ 166.svg);
    background-repeat: no-repeat;

    padding-bottom: 19%;
  }
  .burger_menu {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .overlay {
    background-image: linear-gradient(
        180deg,
        rgba(22, 21, 22, 0.9) -7.87%,
        rgba(22, 21, 22, 0.6) 100%
      ),
      url(../images/Rectangle\ 166.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 19%;
  }
  .hd {
    display: none;
  }
  .container_most_popular {
    margin-right: 44px;
    margin-top: 181px;
    margin-bottom: 110px;
    font-weight: 600;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 100px);
    grid-template-areas:
      "car most"
      "car search"
      "car c";
    gap: 0 60px;
  }
  .container {
    font-size: larger;
    display: grid;
  }
  .burger_menu {
    padding-left: 30px;
    padding-top: 40px;
    cursor: pointer;
  }
}

@media screen and (max-width: 667px) {
  .overlay {
    background-image: url(../images/Rectangle\ 166.svg);

    background-size: cover;
    background-position: -128px;

    width: 100vw;
    height: 40vh;
  }
  h1 {
    font-size: 4.1rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  .burger_menu {
    position: relative;
    padding-left: 30px;
    padding-top: 40px;
    cursor: pointer;
  }
  .dubai {
    display: flex;
    height: ;
  }
  .container_most_popular {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
  }
  .most_popular h2 {
    font-size: 2.5rem;
  }
  .most_popular {
    margin-top: 5%;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
}
